.selectlist {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    height: 30px;
    width: 50px;
    border-radius: 5px;
    background-color: #0d74bb;
    color: #ffffff;
}
.selectlist:hover {
    background-color: #78d5c2;
}

.select {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 50px;
    border-radius: 5px;
    background-color: #0d74bb;
    color: #ffffff;
}

.selectlist_Container {
    display: flex;
}